= javascript_include_tag 'OpenLayers', 'OpenStreetMap', 'highcharts'
- for training in @training
  - heartrate = [training.heartrate]
  .block
    .secondary-navigation
      %ul.wat-cf
        %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", trainings_path
        %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_training_path
        %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", training_path
    .content
      .inner
        %h2 
          = training.sportname
        %h3
          = t("at", :default => "at")
          = localize(training.start_time, :format => :default)
        .trainings_data
          %h3
            = t("heartrate",:default => "heartrate")
          #heartrate_chart
          %h3
            = t("height",:default => "height")
          #height_chart
        .trainings_data
          %table.training
            %tr
              %th 
                = t("activerecord.attributes.training.distance_total", :default => t("activerecord.labels.distance_total", :default => "Distance"))
              %th
                = t("activerecord.attributes.training.time_total", :default => t("activerecord.labels.time_total", :default => "Duration"))
              %th
                &oslash; Pace
              %th
                &oslash; 
                = t("activerecord.attributes.training.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate")) 
              %th
                max 
                = t("activerecord.attributes.training.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate"))  
              %th
                = t("activerecord.attributes.training.coursename", :default => t("activerecord.labels.coursename", :default => "Course"))
              %th
                = t("activerecord.attributes.training.sportlevel", :default => t("activerecord.labels.sportlevel", :default => "Level"))  
            %tr
              %td 
                = number_to_human(training.distance_total, :units => :distance, :precision => 4)  
              %td
                = time2hms(to_dot_time(training.time_total.to_i))
              %td
                - if training.sportname == 'Radfahren'
                  = km_per_hours(training.distance_total, training.time_total.to_i) 
                - else
                  = minutes_per_km(training.distance_total, training.time_total.to_i)
              %td
                = training.heartrate_avg
              %td
                = training.heartrate_max  
              %td
                = training.coursename
              %td
                = training.sportlevel
                
          %p
            = training.comment
          %h3
            - if @laps.length > 1
              = @laps.length.to_s + " " + t("laps")
            - else 
              = @laps.length.to_s + " " + t("lap")
          #laps
            .outer_laps
              %table.laps
                %tr
                  %th
                    = t("numb", :default => "No")
                  %th
                    = t("activerecord.attributes.lap.distance", :default => t("activerecord.labels.distance", :default => "Lap Distance"))
                  %th
                    = t("activerecord.attributes.lap.duration", :default => t("activerecord.labels.duration", :default => "Duration"))
                  %th
                    &oslash; Pace 
                  %th
                    &oslash; 
                    = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate"))
                  %th
                    max. 
                    = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_max", :default => "max Heartrate"))  
                //- for lap in @laps 
                - @laps.each_with_index do |lap, index|   
                  %tr{:class => cycle("odd", "even")}
                    %td
                      = index.to_i + 1
                    %td
                      = number_to_human(lap.distance_total, :units => :distance, :precision => 4)
                    %td
                      = time2hms(to_dot_time(lap.duration.to_i))                     
                    %td
                      - if lap.distance_total != 0
                        - if training.sportname == 'Radfahren'
                          = km_per_hours(lap.distance_total,lap.duration.to_i) 
                        - else
                          = minutes_per_km(lap.distance_total,lap.duration.to_i)                         
                    %td
                      = lap.heartrate_avg
                    %td
                      = lap.heartrate_max.to_i
        .trainings_data
          .link_big_map
            = link_to t('fullscreen', :default =>'show fullscreen'), { :controller=>"home", :action=>"bigmap", :id => "#{training.id}" }, :id => 'bigmap', :class => 'iframe'              
          #map
          .wat-cf
            = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_training_path(training), :class => "button"
            = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), training_path(training), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"


:javascript
  createMapWithRoute( #{training.map_data}, "map");
  createChart( #{training.heartrate}, "heartrate_chart", "bpm");
  createChart( #{training.height}, "height_chart", "m");

  
  
