%p#notice= notice
%script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false'}
= javascript_include_tag   'google/application'
.block
  .content
    #training
      .dialog_base
      .inner
        %ul.listing
          #list{:id => "training_#{@track.id}"}
            .detail
              .detail_ovarall
                %h3
                  = @track.location
                %li{:id => "training_#{@track.id}", :class => 'list_overview' }
                  .left
                    #infos
                      %dl.floated
                        %dt
                          = t('activerecord.attributes.training.min_per_km', :default => t('activerecord.labels.subject', :default => 'Sportlevel'))
                        %dd
                          %strong
                            = @track.min_per_km
                        %dt
                          = t('activerecord.attributes.training.distance_total', :default => t("activerecord.labels.subject", :default => 'Dist.'))
                        %dd
                          = number_to_human(@track.distance, :units => :distance, :precision => 3)
                        %dt
                          = t('activerecord.attributes.training.duration', :default => t('activerecord.labels.time_total', :default => 'Duration'))
                        %dd
                          = @track.duration
                        %br/
                        .wat-cf
                          = link_to image_tag('web-app-theme/icons/show.png', :alt => "#{t('web-app-theme.show', :default=> 'new')}") + '' + t('web-app-theme.show', :default=> 'show'), new_track_path, :class => 'button'


        #draw_map


:javascript
  jQuery(document).ready(function () {
    displayRoute(#{@track.waypoints}, "#{@sport_type}");
  });

