<p><%= f.label :first_name %></p>
<p><%= f.text_field :first_name %></p>
 
<p><%= f.label :last_name %></p>
<p><%= f.text_field :last_name %></p>
 
<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>
 
<% if can? :read, Role %>
  <p><%= f.label :role %></p>
  <ul class="no-pad no-bullets">
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </ul>
<% end %>