
= javascript_include_tag 'highcharts', 'OpenLayers', 'OpenStreetMap'
:javascript
  //base layers
  var openstreetmap = new OpenLayers.Layer.OSM();
  var opencyclemap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
- for home in @home
  - heartrate = [home.heartrate]
  .block
    .secondary-navigation
      %ul.wat-cf
        %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", "/"
    .content
      .inner
        %h2
          = home.sportname
        %h3
          = t("at", :default => "at")
          = localize(home.start_time, :format => :default)
        .trainings_data
          %table.training
            %tr
              %th
                = t("activerecord.attributes.training.comment", :default => t("activerecord.labels.comment", :default => "comment"))
            %tr
              %td
                = home.comment
          %table.training
            %tr
              %th
                = t("activerecord.attributes.training.time_total", :default => t("activerecord.labels.time_total", :default => "Duration"))
              %th 
                = t("activerecord.attributes.training.distance_total", :default => t("activerecord.labels.distance_total", :default => "Distance"))
              %th
                &oslash; 
                %br
                Pace
              %th
                &oslash; 
                %br
                = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate")) 
              %th
                max 
                %br
                = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate"))  
             
              %th
                = t("activerecord.attributes.training.coursename", :default => t("activerecord.labels.coursename", :default => "Course"))
              %th
                = t("activerecord.attributes.training.sportlevel", :default => t("activerecord.labels.sportlevel", :default => "Level"))  
            %tr
              %td
                = time2hms(to_dot_time(home.time_total.to_i))
              %td 
                = number_to_human(home.distance_total, :units => :distance, :precision => 4)  
              %td
                - if home.sportname == 'Radfahren'
                  = km_per_hours(home.distance_total, home.time_total.to_i) 
                - else
                  = minutes_per_km(home.distance_total, home.time_total.to_i)
              %td
                = home.heartrate_avg
              %td
                = home.heartrate_max  
              %td
                = home.coursename
              %td
                = home.sportlevel
          #laps 
            .outer_laps
              %table.laps
                %tr
                  %th
                    = t("numb", :default => "No")
                  %th
                    = t("activerecord.attributes.lap.distance", :default => t("activerecord.labels.distance", :default => "Lap Distance"))
                  %th
                    = t("activerecord.attributes.lap.duration", :default => t("activerecord.labels.duration", :default => "Duration"))
                  %th
                    &oslash; 
                    %br
                    Pace 
                  %th
                    &oslash;
                    %br
                    = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_avg", :default => "Heartrate"))
                  %th
                    max. 
                    %br
                    = t("activerecord.attributes.lap.heartrate", :default => t("activerecord.labels.heartrate_max", :default => "max Heartrate"))  
                //- for lap in @laps 
                - @laps.each_with_index do |lap, index|   
                  %tr{:class => cycle("odd", "even")}
                    %td
                      = index.to_i + 1
                    %td
                      = number_to_human(lap.distance_total, :units => :distance, :precision => 4)
                    %td
                      = time2hms(to_dot_time(lap.duration.to_i))
                    %td
                      - if lap.distance_total != 0
                        - if home.sportname == 'Radfahren'
                          = km_per_hours(lap.distance_total,lap.duration.to_i) 
                        - else
                          = minutes_per_km(lap.distance_total,lap.duration.to_i) 
                    %td
                      = lap.heartrate_avg
                    %td
                      = lap.heartrate_max.to_i
        .trainings_data
          - if(!home.heartrate.nil?)
            %h3
              = t("heartrate",:default => "heartrate")
            #heartrate_chart
           
        .trainings_data
          - if(!home.map_data.nil?)
            %h3
              = t("map",:default => "Map")
            #map
            .link_big_map
              = link_to t('fullscreen', :default =>'show fullscreen'), { :controller=>"home", :action=>"bigmap", :id => "#{home.id}" }, :id => 'bigmap', :class => 'iframe'
        
:javascript
  createMapWithRoute( #{home.map_data}, "map", true, true, google);
  createChart( #{home.heartrate}, "heartrate_chart", "bpm", 50);
  