= javascript_include_tag 'OpenLayers', 'OpenStreetMap'
:javascript
  //base layers
  var openstreetmap = new OpenLayers.Layer.OSM();
  var opencyclemap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
  
.block
  .content
    #training
      .dialog_base
      .inner
        %ul.listing
          - @trainings.each do |training|
            #list{:id => "training_#{training.id}"}
              .detail
                .detail_left
                  = image_tag(training.sportname.to_s.downcase + '.png', :height=>'40px')
                .detail_right
                  %h3
                    = localize(training.start_time, :format => :default)
                  %li{:id => "training_#{training.id}", :class => 'list_overview' }
                    .left
                      #infos
                        %dl.floated
                          %dt
                            = t('activerecord.attributes.training.sportlevel', :default => t('activerecord.labels.subject', :default => 'Sportlevel'))
                          %dd
                            %strong
                              = training.sportlevel
                          %dt
                            = t('activerecord.attributes.training.distance_total', :default => t("activerecord.labels.subject", :default => 'Dist.'))
                          %dd
                            = number_to_human(training.distance_total, :units => :distance, :precision => 3)
                          %dt
                            = t('activerecord.attributes.training.time_total', :default => t('activerecord.labels.time_total', :default => 'Duration'))
                          %dd
                            = ChronicDuration.output(training.time_total.to_i, :format => :chrono)
                          %dt
                            &oslash; Pace
                          %dd
                            - if training.sportname == 'Radfahren'
                              = km_per_hours(training.distance_total, training.time_total.to_i)
                            - else
                              = minutes_per_km(training.distance_total, training.time_total.to_i)
                          %dt
                            = t('activerecord.attributes.training.sportname', :default => t('activerecord.labels.sportname', :default => 'Sport'))
                          %dd
                            = training.sportname
                          %dt
                            = t('activerecord.attributes.training.coursename', :default => t('activerecord.labels.coursename', :default => 'Course'))
                          %dd
                            = training.coursename
                          - if training.comment?
                            %dt
                              = t('activerecord.attributes.training.comment', :default => t('activerecord.labels.comment', :default => 'Comment'))
                            %dd
                              = training.comment
                          %br/
                          .wat-cf
                            = link_to image_tag('web-app-theme/icons/show.png', :alt => "#{t('web-app-theme.show', :default=> 'show')}") + '' + t('web-app-theme.show', :default=> 'show'), page_path(training), :class => 'button'


                    .link_big_map
                      = link_to t('fullscreen', :default =>'show fullscreen'), { :controller=>'pages', :action=>'bigmap', :id => "#{training.id}" }, :id => 'bigmap', :class => 'iframe'
                    .map{:class => 'minimap', :id => "map_#{training.id.to_s}"}
                      :javascript
                        createMapWithRoute( #{training.map_data}, "map_#{training.id.to_s}", false);
                    
                .clear
      .actions-bar.wat-cf
        .actions
        = will_paginate @trainings


