:javascript
  jQuery(document).ready(function(){
    jQuery('#sortable').sortable({
      axis: 'y',
      dropOnEmpty: false,       
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
        jQuery.ajax({
          type: 'post',
          data: $('#sortable').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
            jQuery('#sortable li').effect('highlight', {}, 2000);
          },
          url: '/course_names/sort'
        })
      }
    });
  });
.block
  .content
    .inner
      %ul#sortable
        - @course_names.each do |course_name|
          %li{:class => 'sortlist', :id => "list_#{course_name.id.to_s}"}
            %table            
              %tr{:class => cycle("odd", "even")}
                %td{:class => "name"}
                  = link_to course_name.name, course_name_path(course_name)
                %td.last
                  \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_course_name_path(course_name)} |
                  \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", course_name_path(course_name), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}