.block
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.course_name.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @course_name.name
        %b
          = t("activerecord.attributes.course_name.created_at", :default => t("activerecord.labels.created_at", :default => "Created at"))
          \:
        = @course_name.created_at
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_course_name_path(@course_name), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), course_name_path(@course_name), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
