= form_for(@course) do |f|
  = f.label :distance
  = f.text_field :distance
  = f.text_field :name
  = radio_button("post", "category", "rails")
  = radio_button("post", "category", "java")
  = f.submit